@use 'bootstrap/scss/bootstrap' as *;
#the-canvas {
    transform: scaleX(0) translate(0%, 0%) ;
}

.bg-light-blue {
    background-color: #add8e6;
}

.bg-green {
    background-color: #28a745;
}

.bg-yellow {
    background-color: #ffc107;
}

.bg-primary {
    background-color: #007bff;
}

.bg-dark-blue {
    background-color: #001f3f;
}

.bg-orange {
    background-color: #fd7e14;
}

.bg-default {
    background-color: #f8f9fa;
}
