@use 'bootstrap/scss/bootstrap' as *;
#the-canvas {
    transform: scaleX(0) translate(0%, 0%) ;
}
html, body {
    height: 100%; /* Ensures the page background expands to the full height of the viewport */
    background-color: #fff; /* Sets the background color to white to match your intended design */
}
