@use 'bootstrap/scss/bootstrap' as *;
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);
@import '~@fortawesome/fontawesome-free/css/all.css';
//colors
$red: #E1332D;
$green: #0c2a01;
$white: #fff;

//base styles
html,
body {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background: #1e1e24;
}

.btn-primary.btn-disabled {
    background-color: $red;
    border-color: $red;
}
.btn-primary.btn-enabled {
    background-color: $green;
    border-color: $green;

}

//Bootsrap overwrites
.border-primary{
    border-color: #d1d1d1 !important;
}

/* Loading Screen Styles */
#loading-overlay {
    display: none !important; /* Initially hidden */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
    z-index: 1050; /* Ensure it appears above everything else */
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#loading-overlay .spinner-border {
    width: 3rem;
    height: 3rem;
    margin-bottom: 1rem;
}

#loading-overlay .loading-text {
    font-size: 1.5rem;
    font-weight: bold;
}


.bg-light-blue {
    background-color: #add8e6 !important;
}

.bg-green {
    background-color: #28a745 !important;
}

.bg-yellow {
    background-color: #ffc107 !important;
}

.bg-primary {
    background-color: #890000 !important;
}

.bg-dark-blue {
    background-color: #3d443d !important;
}

.bg-orange {
    background-color: rgb(53, 64, 84) !important;
}

.bg-default {
    background-color: #f8f9fa !important;
}

.timeline-bar {
    background-color: #e9ecef;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
}
.timeline-bar > div {
    border-right: 1px solid #fff;
    box-sizing: border-box;
}
