<div{{ attributes }} class="card h-100">
    <img src="{{ image.url }}" class="card-img-top" alt="{{ image.name }}">
    <div class="card-body">
        <h5 class="card-title">{{ image.name }}</h5>
        <button class="btn btn-primary w-100">Dummy Action</button>
    </div>
</div>
