<div{{ attributes }} class="bg-container" data-poll="refresh">
    <!-- Blurred background -->
    <div class="bg-blur" {{this.getBackgroundStyle|raw}}></div>
    <!-- Main image -->
    <img id="main-image" class="image" src="{{ this.imageUrl }}" alt="Digital-Frame">
</div>
