{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ encore_entry_script_tags('spotify') }}
{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('spotify') }}
{% endblock %}

{% block title %}Hello StageController!{% endblock %}

{% block body %}
    <div>
        <div id="container">
            <img id="the-image" class="center"
                 src="https://images.unsplash.com/photo-1519515533456-ed9f2c73ca33?ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=80"/>
        </div>
        {#    <h4></h4> #}
        <script>
            var token = '{{ token }}';
        </script>
    </div>
{% endblock %}
