{% extends 'base.html.twig' %}

{% block title %}Displate Gallery{% endblock %}

{% block body %}
    <div class="container bg-dark">
        {{ component('DisplateGallery', {selectedTag: selectedTag} ) }}
    </div>
{% endblock %}